
  .card {
    height: 300px; 
    box-sizing: border-box;
    box-shadow: 5px 5px grey;
    margin-top: 50px;
    margin-right: 50px;
    
  }
  .card-body {
    height: 100%;
  }
  .btn-take-order {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .row{
    /* margin-top: 50px; */
  }
  .card-title{
    font-size: 60px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .card-text{
    /* margin-top:50px; */
  }
  .modal-open {
    overflow: auto; /* This prevents the page from scrolling when the modal is open */
  }
  /* .background{
    background-image: linear-gradient(to right,#B0A695,#EBE3D5);

  } */

  .btn{
    margin-left: 5px;
  }
  .card-footer{
    /* padding: 20px; */
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .background{
    background-color: #CCC8AA;
  }