/* Custom CSS for Reservation Cards */
.reservation-card {
    height: 250px; /* Set a fixed height for all cards */
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden; /* Hide content that exceeds the height */
  }
  .card{
  margin:20px;
  }
  .reservation-card .card-body {
    padding: 20px;
    height: 100%; /* Ensure the body takes the full height of the card */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Vertically align content within the fixed height */
  }
  .row{
    margin: 20px;
  }
  

  