<div class="container mt-4" #biigenerator>
  <div class="row">
    <div class="col-md-6">
      <h3>Customer Details</h3>
      <p><strong>Name:</strong> {{ customerName }}</p>
      <p><strong>Phone:</strong> {{ customerPhone }}</p>
    </div>
    <div class="col-md-6">
      <h3>Created by</h3>
      <p><strong>Created by:</strong> {{ createdBy }}</p>
      <h3>Ordered Date</h3>
      <p><strong>Ordered Date:</strong> {{ orderedDate }}</p>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-12">
      <h3>Order Details</h3>
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Subtotal</th>
          </tr>
        </thead>
        <tbody *ngIf="orderDetails != null">
          <tr *ngFor="let item of orderDetails">
            <td>{{ item.foodItem.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>${{ item.foodItem.price }}</td>
            <td>${{ item.price }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-6 offset-md-6">
      <p><strong>Total Price: ${{ totalPrice }}</strong></p>
    </div>
  </div>
</div>
<div class="container mt-3">
  <button class="btn btn-primary" (click)="confirmExit()">Order More</button>
  <button class="btn btn-secondary mx-2" (click)="exit()">Home</button>
  <button class="btn btn-success" (click)="generatePDF()">Generate Bill</button>
</div>
