
  
  .navbar {
    border-bottom: #008ed6 3px solid;
    opacity: 0.8;
  }
  
  #home-section {
    background: url(../../../src/assets/table-with-candle-it-restaurant_818261-328.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 800px;
  }
  
  #home-section .dark-overlay {
    position: absolute;
    top: 50;
    left: 0;
    width: 100%;
    min-height: 500px;
  }  
  #home-section .home-inner {
    padding-top: 150px;
  }
  
  #home-section .card-form {
    opacity: 0.8;
  }
  
  #home-section .fas,
  #create-section .fas {
    color: #008ed6;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
  }
  
  #explore-section .fas,
  #share-section .fas {
    background: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
  }
.row
{
    margin: 50px;

    padding-top: 150px;
}
/* .card{
    height: 150px;
} */

.card-img-top{
    height: 300px;
    
}
/* .card-image{
    height: 50rem;
} */
.card{
  box-shadow: 5px 5px 5px 5px black;
height: 500px;
}
h1,p{
  text-shadow: 5px 5px 5px 5px gray;
  ;
}
#home-section{
  background-color: #CCC8AA;
}
.background{
  background-color: #CCC8AA;
  height: 150%;
  padding: 50px;
}