<div class="background">
<header id="home-section">
    <div class="dark-overlay">
      <div class="home-inner container">
        <div class="row" >
          <div class="col-md-12 text-center">
            <h1 class="text-dark display-6">
              <strong style="font-size:80px;">Welcome to .........................</strong>
            </h1>
            <p class="text-dark  display-6">Experience the .................................</p>
          </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                
                    <div class="card" style="width: 25rem;">
                        <img class="card-img-top" src="../../assets/restaurant.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                 </div>
                      

                </div>
            </div>
            <div class="col-md-6">
                <div class="card" style="width: 25rem;">
                    <img class="card-img-top card-image" src="../../assets/food_order.jpg" alt="Card image cap" >
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
            </div>
        </div>
      </div>
    </div>
  </header>
</div>