<!-- <div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-4" *ngFor="let item of data; index as i">
        <div class="card mb-4 reservation-card" style="border: 1px solid #ccc; box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);">
          <div class="card-body">
            <p class="card-title">Table No. {{ item?.tableNo }}</p>
            <h5 class="card-text">Table Capacity: {{ item.capacity }}</h5>
            <h5 class="card-text">Reserved Status: {{ item.status ? 'Reserved' : 'Not Reserved' }}</h5>
            <h5 class="card-text">Reservation Date: {{ item.reservationDate }}</h5>
            <h5 class="card-text">Customer Name: {{ item?.customerName }}</h5>
            <h5 class="card-text">Reservation ID: {{ item.reservationId + '' + item.capacity }}</h5>
            <div class="d-flex justify-content-end"> 
              <button class="btn btn-danger btn-sm" (click)="cancelReservation(item.reservationId)" *ngIf="item.status">Cancel Reservation</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 -->
 <div class="container" style="margin-top:100px ;">
  <div class="card">
      <div class="card-header">
        <h5 class="card-title">Reservation Details</h5>
      </div>
      <div class="card-body">
        <p><strong>Customer Name:</strong> {{ details.customerName }}</p>
        <p><strong>Customer Phone:</strong> {{ details.customerPhone }}</p>
        <!-- <p><strong>Ordered Date:</strong> {{ details.orderedDate }}</p>
        <p ><strong>Payment Status:</strong> {{details.status}}</p>
        <p><strong>Capacity:</strong> {{ details.capacity }}</p> -->

        <p><strong>Total Price:</strong> {{ details.charges }}</p>
    
        <hr>
    
        <div class="row mt-4">
          <div class="col">
            <h3 class="text-center fw-bold">Reservation Details</h3>
            <div class="card">
              <div class="card-body">
                <table class="table"> 
                  <tbody>
                    <tr>
                      <th>ID</th>
                      <td>{{ details.reservationId }}</td>
                    </tr>
                    <tr>
                      <th>Reservation Status</th>
                      <td>{{ details.status }}</td>
                    </tr>
                    <tr>
                      <th>Table No</th>
                      <td>{{ details.tableNo }}</td>
                    </tr>
                    <tr>
                      <th>Table Capacity</th>
                      <td>{{ details.capacity }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div> 
      </div>
    </div>
    <div>
      <button class="btn btn-secondary my-5" *ngIf="status && currentUserId== details.reserveUserId"(click)="cancelReservation()">Cancel Reservation</button>
      <button class="btn btn-secondary my-5 mx-2" (click)="generateBill()">Generate Bill</button>
  
    </div>
    </div>
