/* .btn{
    margin-left: 2rem;
    color: #4C489D;
    background-color:white;
} */
/* .custom-navbar{
    background-color:  #4C489D;
    
} */
.custom-navbar{
    border-bottom: 2px black solid;
    opacity: 0.8;
    
  }
.btn{
    background-color: white;
}
.nav-link{
    font-size: 20px;
}
img{
    height: 40px;
    width: 40px;
}
button{
    font-size: 20px;
}
@media screen and (max-width: 480px) {
    .navbar{
        /* width: 515px; */
    }
}