.custom-dialog-class {
  margin: 50px; 
  padding: 45px; 
}

.btn-take-order {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.row{
  margin-top: 50px;
}
.card-title{
  font-size: 60px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.card-text{
  margin-top:50px;
}
.modal-open {
  overflow: auto; /* This prevents the page from scrolling when the modal is open */
}
.card {
  margin-bottom: 20px;
  height: 220px; 
  box-sizing: border-box;
  box-shadow: 5px 5px 5px 5px grey;
}
.card-body {
  height: 100%;
}
