<!-- <div class="container">
	<div class="screen">
		<div class="screen__content">
			<form class="login" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="text" class="login__input" placeholder="User name" ngModel
                    name="userName">
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input type="password" class="login__input" placeholder="Password" ngModel
                    name="password">
				</div>
				<button class="button login__submit">
					
                    Log in Now
				</button>		
                <div class="social-login">
                    <p>Dont have accont <span [routerLink]="['/register']" class="register_link" >
						 Click here
					</span></p>
                </div>		
			</form>
            
			</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div> -->




<body class="img js-fullheight" style="background-color: rgb(77,81,84,0.8); width: 50%; height: 80%; margin: 50px; margin-left: 25rem; ;">
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">           </h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
		      	<h3 class="mb-4 text-center">Have an account?</h3>
		      	<form class="signin-form" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
		      		<div class="form-group">
		      			<input type="text" class="form-control" placeholder="Username" ngModel
						  name="userName" required>
		      		</div>
	            <div class="form-group">
	              <input id="password-field" type="password" class="form-control" placeholder="Password" required ngModel
				  name="password">
	              <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
	            </div>
	            <div class="form-group">
	            	<button type="submit" class="form-control btn btn-light submit px-3">Sign In</button>
	            </div>
	            
	          </form>
	          <p class="w-100 text-center">&mdash; Dont Have Account ? &mdash;</p>
	          <div class="social d-flex text-center">
	          	<a [routerLink]="['/register']" class="px-2 py-2 mr-md-1 rounded"><span class="ion-logo-facebook mr-2"></span> Sign UP</a>
	          </div>
		      </div>
				</div>
			</div>
		</div>
	</section>


	