<!-- <div class="container">
    <div class="screen">
      <div class="screen__content">
        <form
          class="login"
          #customerregisterForm="ngForm"
          (ngSubmit)="register(customerregisterForm)"

        >
          <div class="login__field">
            <i class="login__icon fas fa-user"></i>
            <input
              type="text"
              class="login__input"
              placeholder="User name"
              ngModel
              required
              minlength="4"
              #name="ngModel"
              name="username"
            />

            
            
            
          </div>
  
          <div class="login__field">
            <i class="login__icon fas fa-user"></i>
            <input
              type="email"
              class="login__input"
              placeholder=" Email"
              required
              ngModel
              #email="ngModel"
              [email]="true"
              name="email"
            />
          </div>
  
          <div class="login__field">
            <i class="login__icon fas fa-lock"></i>
            <input
              type="text"
              class="login__input"
              placeholder="Phone"
              ngModel
              required
              #phone="ngModel"
              name="phone"
            
            />
            
          </div>

          <div class="login__field">
            <i class="login__icon fas fa-user"></i>
            <input
              type="date"
              class="login__input"
              placeholder=" BirthDate"
              required
              ngModel
              #birthdate="ngModel"
              name="birthdate"
            />
            <label class="m-3">Birthdate</label>
          </div>
          
          <button class="button login__submit" [disabled]="customerregisterForm.invalid">
            <span class="button__text">Register</span>
            <i class="button__icon fas fa-chevron-right"></i>
          </button>
        </form>
      </div>
      <div class="screen__background">
        <span class="screen__background__shape screen__background__shape4"></span>
        <span class="screen__background__shape screen__background__shape3"></span>
        <span class="screen__background__shape screen__background__shape2"></span>
        <span class="screen__background__shape screen__background__shape1"></span>
      </div>
    </div>
  </div>
   -->

<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="background">
<div class="container">
  <form
    class="form-horizontal"
    role="form"
    #customerregisterForm="ngForm"
    (ngSubmit)="register(customerregisterForm)"
  >
    <p class="text-center fw-bold display-6">Customer Registration</p>
    <div class="form-group">
      <label for="firstName" class="col-sm-3 control-label">First Name</label>
      <div class="col-sm-9">
        <input
        type="text"
        ngModel
        required
        minlength="4"
        #name="ngModel"
        name="firstName"
        id="firstName"
          placeholder="First Name"
          class="form-control"
          autofocus
        />
      </div>
    </div>
    <div class="form-group">
      <label for="lastName" class="col-sm-3 control-label">Last Name</label>
      <div class="col-sm-9">
        <input
        type="text"
        ngModel
        required
        minlength="4"
        #name="ngModel"
        name="lastName"
        id="lastName"
          placeholder="Last Name"
          class="form-control"
          autofocus
        />
      </div>
    </div>
    <div class="form-group">
      <label for="email" class="col-sm-3 control-label">Email* </label>
      <div class="col-sm-9">
        <input
        type="email"
        required
        ngModel
        #email="ngModel"
        [email]="true"
        name="email"
          id="email"
          placeholder="Email"
          class="form-control"
        />
      </div>
    </div>
    <div class="form-group">
      <label for="birthDate" class="col-sm-3 control-label"
        >Date of Birth*</label
      >
      <div class="col-sm-9">
        <input type="date" id="birthDate" class="form-control" 
        placeholder=" BirthDate"
        required
        ngModel
        #birthdate="ngModel"
        name="birthdate"
/>
      </div>
    </div>
    <div class="form-group">
      <label for="phoneNumber" class="col-sm-3 control-label"
        >Phone number
      </label>
      <div class="col-sm-9">
        <input
          type="text"
          id="phone"
          placeholder="Phone number"
          class="form-control"
          ngModel
          required
          #phone="ngModel"
          name="phone"
          pattern="[0-9]{3}[0-9]{3}[0-9]{4}"

        />
        <span class="help-block"
          >Your phone number won't be disclosed anywhere
        </span>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3">Gender</label>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-6">
            <label class="radio-inline">
              <input type="radio" id="femaleRadio"     ngModel      #gender="ngModel"
              name="gender" value="Female" />Female
            </label>
          </div>
          <div class="col-sm-6">
            <label class="radio-inline">
              <input type="radio" id="maleRadio" ngModel           #phone="ngModel"
              name="gender" value="Male" />Male
            </label>
          </div>
        </div>
      </div>
    </div>
    <!-- /.form-group -->
    <div class="form-group">
      <div class="col-sm-9 col-sm-offset-3">
        <span class="help-block">*Required fields</span>
      </div>
    </div>
    <button type="submit" class="btn btn-secondary btn-block" [disabled]="customerregisterForm.invalid">Register</button>
  </form>
  <!-- /form -->
</div>
<!-- ./container -->
</div>