body{
background-color: #fff;
	
	/* Chrome 10-25, Safari 5.1-6 */
	background-color: -webkit-linear-gradient(to right, rgb(248, 245, 250), rgb(119, 106, 231));
	
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-color: linear-gradient(to right, rgba(248, 245, 250,1), rgb(91, 78, 126))
}