.container{
    margin-top: 50px;
}
.row{
    margin: 50px;
}
.card{
    height:150px;
    margin: 50px;
}
.highlight {
    font-weight: bold;
    color: red;
  }
  
  .unavailable{
    background-color: rgba(0, 0, 0, 0.3);
    cursor: not-allowed;
  }

  .background{
    background-color: #F1EFEF;
    height: 150%;
    padding: 50px;
  }