<div>
  <div class="container mt-4" #biigenerator>
    <div class="row">
      <div class="col-md-6">
        <h3 class="text-center fw-bold">Customer Details</h3>
        <div class="card">
          <div class="card-body">
            <p class="card-text"><strong>Name:</strong> {{customerName}}</p>
            <p class="card-text"><strong>Phone:</strong> {{ customerPhone }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h3 class="text-center fw-bold">Created by</h3>
        <div class="card">
          <div class="card-body">
            <p class="card-text"><strong>Created by:</strong> {{ createdBy }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col">
        <h3 class="text-center fw-bold">Reservation Details</h3>
        <div class="card">
          <div class="card-body">
            <table class="table"> 
              <tbody>
                <tr>
                  <th>ID</th>
                  <td>{{ reservationId }}</td>
                </tr>
                <tr>
                  <th>Reservation Status</th>
                  <td>{{ status }}</td>
                </tr>
                <tr>
                  <th>Table No</th>
                  <td>{{ tableNo }}</td>
                </tr>
                <tr>
                  <th>Table Capacity</th>
                  <td>{{ capacity }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>    <div class="row mt-3">
      <div class="col-md-6 offset-md-6">
        <div class="card">
          <div class="card-body">
            <p class="card-text"><strong>Total Price:</strong> ${{ totalPrice }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-5">
  <button class="btn btn-secondary mx-2" (click)="exit()">Home</button>
  <button class="btn btn-success" (click)="generatePDF()">Generate Bill</button>
</div>
</div>
