<div class="container">
	<table class="table table-striped">
	  <thead>
		<tr>
		  <th scope="col">#</th>
		  <th scope="col">Food Name</th>
		  <th scope="col">Quantity</th>
		  <th scope="col">Per Price</th>
		  <th scope="col">Price</th>
		</tr>
	  </thead>
	  <tbody>
		<tr *ngFor="let item of orderDetails; let i = index">
		  <th scope="row">{{ i + 1 }}</th>
		  <td>{{ item.foodItem.name }}</td>
		  <td>{{ item.quantity }}</td>
		  <td>{{ item.foodItem.price }}</td>
		  <td>{{ item.price }}</td>
		</tr>
	  </tbody>
	</table>
  
	<p class="text-end fw-bold">Total Price: {{ totalPrice }}</p>
  
	<div class="text-center">
	  <button class="btn btn-primary" (click)="addOrder()">Confirm Order</button>
	</div>
  </div>
  