section{
	/* background-image: url('../../assets/istockphoto-1428737062-170667a.webp'); */
	background-repeat: no-repeat;
	background-size: cover;
	/* height: 100%; */

}
.card{
	background-color: rgba(94, 90, 90, 0.9);
	margin: 0%;
	width: 500px;
}
label, select{
	font-size: medium;
	margin-top: 8px;
	font-weight: bold;
}
button:disabled{
	background-color: rgb(201, 207, 212,0.8);
}
body{
	
		background-color: #CCC8AA;
		height: 150%;
		padding: 50px;
	  
}