<div class="background">
<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let item of food | async;index as i">
      <div class="card mb-4">
        <!-- Example image -->
        <img src="../../assets/food{{i}}.jpg" class="card-img-top" alt="Food Image">

        <div class="card-body">
          <!-- Display data properties in the card -->
          <h5 class="card-text">{{ item.name }}</h5>
          <p class="card-title">{{ item.desc }}</p>

          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button class="btn btn-sm btn-outline-secondary fw-bold display-1" (click)="add(item.id)">  +  </button>
              <button class="btn btn-sm btn-outline-secondary fw-bold display-1" (click)="remove(item.id)">  -  </button>
            </div>
            <small *ngIf="getQuantity(item.id)!=0" class="text-muted fw-bold h2">{{ getQuantity(item.id) }}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
