<div class="container mt-4">
  <app-table-header (newItemEvent)="showTables($event)"></app-table-header>
  <div class="row">
    <div class="col-md-4" *ngFor="let item of tableList">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Table No. {{ item.tableNo }}</h5>
          <p class="card-text">Capacity: {{ item.capacity }}</p>
          <button class="btn btn-success" (click)="remove(item.id)">Reserve</button>
        </div>
      </div>
    </div>
  </div>
</div>
